 body {
        background-image: url(images/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0;  
        font-family: sans-serif;
        overflow-x: hidden;
        overflow-y: auto;
    }
.topbar{
 background-color: #ddd9d9;
 padding: 7px 25px;
 font-weight: 600;
 font-style: normal;
 font-family: "Sedan SC", serif;
 box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 display: flex;
 justify-content:space-between;
 align-items: center;
}
.logo{
 display: flex;
 align-items: center;
 gap: 10px;
}
.logo img{
width: 40px;
height: 40px;
object-fit: contain;
}
.logo h1{
font-size: 20px;
}

.navigacija{
 display: flex;
 align-items: center;
 gap: 30px;
}
.navigacija a {
 text-decoration: none;
 color: black;
 transition: color 0.3s;
}

.navigacija a:hover {
  color: dimgrey;
}

#toggle {
  display: none;
}

.main {
  height: 700px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px;
}

.text1 {
  color: rgb(185, 185, 185);
  font-size: 30px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  opacity: 0;
  transform: translateZ(30px);
 animation: fadeInUp 1s ease-out forwards;
 animation-delay: 0.6s;
}

.text2 {
 display: none;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 90%;
  margin: 20px auto;
  flex-wrap: nowrap;
 opacity: 0;
 transform: translateZ(30px);
 animation: fadeInUp 0.5s ease-out forwards;
 animation-delay: 0.2s;
}

.text2 p {
  color: rgb(209, 209, 209);
  font-size: 24px;
  text-align: left;
 font-family: 'Times New Roman', Times, serif;

}

.text2 img {
  width: 300px;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 
}
.main label {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  background-color: #ddd9d9;
  border: 2px solid rgb(91, 91, 91);
  border-radius: 30px;
  transition: background-color 0.3s;
  opacity: 0;
 transform: translateZ(30px);
 animation: fadeInUp 1s ease-out forwards;
 animation-delay: 0.6s;
}

.main label:hover {
  background-color: dimgrey;
  color: white;
}

#toggle:checked ~ .main .text1 {
  display: none;
}

#toggle:checked ~ .main .text2 {
  display:flex;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

footer {
  padding: 20px;
  color:rgb(152, 152, 152);
  font-size: 14px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color:  #ddd9d9;
}
span {
  color: rgb(254, 72, 72);
}