html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url(images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
    overflow-x: hidden;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.topbar{
 background-color: #000000;
 padding: 7px 25px;
 font-weight: 600;
 font-style: normal;
 font-family: "Sedan SC", serif;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 display: flex;
 justify-content:space-between;
 align-items: center;
}
.logo{
 display: flex;
 align-items: center;
 gap: 10px;
}
.logo img{
width: 40px;
height: 40px;
object-fit: contain;
}
.logo h1{
font-size: 20px;
color: rgb(222, 220, 220);
}

.navigacija{
 display: flex;
 align-items: center;
 gap: 30px;
}
.navigacija a {
 text-decoration: none;
 color:rgb(222, 220, 220);
 transition: color 0.3s;
}

.navigacija a:hover {
  color: rgb(73, 73, 73);
}

.item[data-type="prop"] {
    position: relative;
    display: block;
    float: left;
    margin: 15px;
    width: 260px;
    height: 200px;
    border: 1px solid #555;
    overflow: hidden;
}
 
.portfolio-section .portfolio-grid .item[data-type="prop"] img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.portfolio-section .portfolio-grid .item[data-type="prop"] .overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0,0.6);
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 80px;
    opacity: 0;
    transition: opacity 0.3s;
}

.portfolio-section .portfolio-grid .item:hover .overlay {
    opacity: 1;
}

.portfolio-grid::after {
    content: "";
    display: block;
    clear: both;
}

.section-title .portfolio-desc {
    text-align: center;
    margin-bottom: 20px;
}

.portfolio-section {
    margin: 50px auto;
    max-width: 1200px;
}

.portfolio-section h2 {
    color: rgb(199, 199, 199);
    font-size: 32px;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.portfolio-section p {
 color: rgb(199, 199, 199);
 font-size: 22px;
  margin-bottom: 20px;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-light {
    color: #dcdcdc;
    text-align: center;
    margin-bottom: 40px;
}

footer {
  padding: 20px;
 color:rgb(222, 220, 220);
  font-size: 14px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:  #000000;
}