body {
        background-image: url(images/background2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0;  
        font-family: sans-serif;
        overflow-x: hidden;
        overflow-y: auto;
    }
.topbar{
 background-color: #ddd9d9;
 padding: 7px 25px;
 font-weight: 600;
 font-style: normal;
 font-family: "Sedan SC", serif;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 display: flex;
 justify-content:space-between;
 align-items: center;
}
.logo{
 display: flex;
 align-items: center;
 gap: 10px;
}
.logo img{
width: 40px;
height: 40px;
object-fit: contain;
}
.logo h1{
font-size: 20px;
color: black;
}

.navigacija{
 display: flex;
 align-items: center;
 gap: 30px;
}
.navigacija a {
 text-decoration: none;
 color: black;
 transition: color 0.3s;
}

.navigacija a:hover {
  color: dimgrey;
}

.services {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 60px auto;
  width: 70%;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  
}
.services h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.services p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.service-list {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.service-list li {
  margin: 10px 0;
  font-size: 18px;
}

.service-form {
  width: 60%;
  margin: 40px auto;
  background-color: rgba(255,255,255,0.85);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

fieldset {
  border: 3px solid #2b2b2b;
  border-radius: 10px;
  padding: 40px;
}

legend {
  font-weight: bold;
  font-size: 18px;
}

label {
  display: block;
  margin-top: 17px;
  font-weight: 600;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #555;
  font-size: 15px;
  box-sizing: border-box; 
}

input:focus, select:focus {
  outline: none;
  border-color: #1a8bee;
  box-shadow: 0 0 5px #1a92ee;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  border: 2px solid #525252;
  background-color: #bbbbbb;
  color: black;
  transition: 0.3s;
}

input[type="email"] {
  border: 1.5px solid #1ab9ee;
}

input[type="text"] {
  border: 1.5px solid #3e3e3e;
}

select[name="service"] {
  background-color: #efefef;
}

footer {
  padding: 20px;
  color:rgb(152, 152, 152);
  font-size: 14px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color:  #ddd9d9;
}